<h2>Orders:</h2>

<div class="card order" *ngFor='let order of getOrders()'>
    <div class="card-block">
      <h4 class="card-title">Order ID: {{order.id}}</h4>
      <h6 class="card-subtitle mb-2">Total Price: ${{order.totalPrice}}</h6>
      <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of order.products">
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
