<h2>Shopping Cart:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of getSelectedProducts(); let index = index;">
            <td>{{product.name}}</td>
            <td>${{product.price}}</td>
            <td class="pointer" (click)="removeProductFromShoppingCart(index)"><img src="./assets/ic_delete_black_24dp_1x.png"></td>
        </tr>
        <tr *ngIf="!isShoppingCartEmpty()">
            <td><strong><em>Total Price:</em></strong></td>
            <td>${{getTotalPrice()}}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" [disabled]="isShoppingCartEmpty()" (click)="generateOrder()">Checkout</button>