<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-product-list></app-product-list>
        </div>
        <div class="col-md-6">
            <app-shopping-cart></app-shopping-cart>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-orders-list></app-orders-list>
        </div>
    </div>
</div>