<h2>Product List:</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of getProducts()">
      <td>{{product.name}}</td>
      <td>${{product.price}}</td>
      <td class="pointer" (click)="rowSelected(product)"><img src="./assets/ic_add_shopping_cart_black_24dp_1x.png"></td>
    </tr>
  </tbody>
</table>